.navbar {
    //background: slategray;
    background: transparent;
    height: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    margin-left: 1200px
  }
  
  .header {
    text-align: center;
    margin-left: 100px
  }
  .header img {
    width: 80px;
    height: 80px;
  }
